/* 3.0 header Section */
.header {
    position: fixed;
    width: 100%;
    z-index: 10;
    background: rgba(0,0,0,0.4);
}

.header .logo {
    width: 40%;
    float: left;
}

.header .logo img{
    width: 20%;
    margin-top: 15px;
}

.header .nav {
    width: 60%;
    float: left;
    list-style: none;
    text-align: right;
}

.header .nav > li{
    display: inline-block;
    text-align: center;
    
}

.header .nav > li > a {
    color: #fff;
    font-size: 15px;
    display: block;
    padding: 30px 15px;
    
}

.header .nav > li > a.active:after ,
.header .nav > li > a:after{
    content: "";
    display: block;
    height: 2px;
    margin-top: 2px;
    background-color: var(--mainColor);
    transition: width 0.5s;
}

.header .nav > li > a:after{
    width: 0;
}

.header .nav > li > a.active:after{
    width: 100%;
}



.header .nav > li > a:hover::after{
    width: 100%;
}

.dropdown{
    position: relative;
}

.dropdown-menu{
    position: absolute;
    background: var(--mainColor);
    width: 140px;
    text-align: center;
    left: -50%;
    top: 75%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s;
}

.dropdown:hover .dropdown-menu{
    opacity: 1;
    visibility: visible;
}

.dropdown-menu > a{
    color: #000;
    display: block;
    padding: 10px;
}
